on:
  push:
name: organize-images
jobs:
  replace-external-links:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.0
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.6.x"
      - name: Set up dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r scripts/requirements.txt
      - name: Run script
        run: python scripts/replace_external_links.py
        env:
          HACKMD_EMAIL: ${{ secrets.HACKMD_EMAIL }}
          HACKMD_PASSWORD: ${{ secrets.HACKMD_PASSWORD }}
      - name: Commit to git
        run: |
          git config --global user.name 'mathesar-bot'
          git config --global user.email '82667229+mathesar-bot@users.noreply.github.com'
          git config --global pull.rebase false
          git add -A
          git diff-index --quiet --cached HEAD || git commit -m "Remove external links"
          git pull
          CONFLICTS=$(git ls-files -u | wc -l)
          if [ "$CONFLICTS" -gt 0 ]
          then
            exit 0
          else
            git push
          fi
  organize-images:
    if: always()
    needs: [replace-external-links]
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.0
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.6.x"
      - name: Set up dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r scripts/requirements.txt
      - name: Run script
        id: run-script
        continue-on-error: true
        run: python scripts/organize_images.py
      - name: Commit to git
        run: |
          git config --global user.name 'mathesar-bot'
          git config --global user.email '82667229+mathesar-bot@users.noreply.github.com'
          git config --global pull.rebase false
          git add -A
          git diff-index --quiet --cached HEAD || git commit -m "Organize images"
          git pull
          CONFLICTS=$(git ls-files -u | wc -l)
          if [ "$CONFLICTS" -gt 0 ]
          then
            exit 0
          else
            git push
          fi
      - name: Error Message
        if: steps.run-script.outcome == 'failure'
        run: |
          # Pull error message generated by python script and escape newlines
          # We throw the error here instead of the earlier step so we can commit first
          output="${{ steps.run-script.outputs.error-message }}"
          output="${output//'%'/'%25'}"
          output="${output//$'\n'/'%0A'}"
          output="${output//$'\r'/'%0D'}"
          echo "::error file=,line=,col=::$output"
          exit 1
